<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="BROWSERSTACK_USERNAME=YOUR_USERNAME"/>
        <listEntry value="BROWSERSTACK_ACCESS_KEY=YOUR_ACCESS_KEY"/>
        <listEntry value="archetypeGroupId=com.browserstack"/>
        <listEntry value="archetypeArtifactId=browserstack-cucumber-archetype"/>
        <listEntry value="archetypeVersion=1.0"/>
        <listEntry value="groupId=1"/>
        <listEntry value="artifactId=1"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package="/>
        <listEntry value="outputDirectory=C:\CBIT-EdgeTesting"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\user\AppData\Local\Temp\m2e-archetypeGenerator12540401295570907952"/>
</launchConfiguration>
